body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}


div div {
    display: grid;
    justify-items: center;
    align-items: center;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 4fr 1fr 1fr 40px;
    grid-template-columns: repeat(4, 1fr);
}


.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
    grid-column: 2/span 3;
}

.pink-background {
    background-color: fuchsia;
    grid-column: 1/-1;
}

.blue-background {
    background-color: blue;
    grid-row: 3/5;
    grid-column: 1/3;
}

.red-background {
    background-color: red;
    grid-row: 3/4;
    grid-column: 4/5;
}

.lightgreen-background {
    background-color: lightgreen;
    grid-column: 4/5;
}

.purple-background {
    background-color: purple;
    grid-row: 5/6;
    grid-column: 1/-1;
}