body {
    background-color: rgb(243, 243, 221);
    margin: 0 auto;
    width: 100%;
}
header {
    background-color:rgb(207, 155, 118);
    padding: 8px;
}
.acesso-restrito {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.cabecalho {
    display: inline;
    font-size: 16px;    
    font-weight: bold;
    padding: 18px;
}
#am_book {
    height: 220px;
    margin-top: 100px;
    margin-left: 40px;
}
.logo {
    width: 300px;
    height: 400px;
    display: inline-block;
}
.container {
    width: 640px;
    height: 400px;
    display: inline-block;
    text-align: center;
    margin-left: 350px;
    margin-top: 100px;
}
.titulo {
    text-align: center
}
      
h1, h2 {
    font-style: oblique;
    color: crimson;
}

#chamada {
    font-size: 20px;
    color: rgb(113, 136, 189);
    font-weight: bold;
}
p {
    font-size:medium;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.infos {
    text-align: center;
    margin-top: 60px;
}
section {
    background-color: rgb(158, 182, 206);
    max-width: 100%;
    height: 200px;
    padding: 240px;
    text-align: center;
}
.books {
    display: inline;
    height: 400px;
    margin-top: -100px;
    padding: 18px;
    
}
.botoes {
    text-align:center;
}
#btn1 {
    position: absolute;
    margin-top: 12px;
    margin-left: -512px;
}
#btn2 {
    position: absolute;
    margin-top: 12px;
    margin-left: -200px;
}
#btn3 {
    position: absolute;
    margin-top: 12px;
    margin-left: 115px;
}
#btn4 {
    position: absolute;
    margin-top: 12px;
    margin-left: 435px;
}
footer {
    display: inline-block;
    margin-bottom: 10px;
    color:rgb(170, 87, 54);
    text-align: center;
    width: 100%;
    height: 0px;
}
#face, #insta, #twt {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
}