* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsla(50, 22%, 88%, 1);
}
header {
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(138, 93, 91, 0.6);
    height: 18vh;
}
.felipe {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(138, 93, 91, 0.6);
    height: 18vh;
    text-align: center;
}
nav {
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 20px;
    background:indianred;
    text-align: center;
    padding: 14px;
    border:ivory;
    border-radius: 6px;
    border-style: double;
    margin: 42px 18px;
}
nav > a {
    margin-right: 16px;  
    font-family:'Gill Sans';
    font-weight: bolder;  
    font-size: 18px;
}
nav:active {
    opacity: 0.5;
}
nav:hover {
    border-color:indigo;      
}
h1 {
    font-family: Impact;
    font-style: oblique;
    font-size: 28px;
    color:rgb(163, 65, 47);
    text-align: center;
    display: inline-block;
    margin-top: 4vh;
    margin-left: 25px;
    position: absolute;
  }
  #foto {
      display: inline-block;
      width: 100px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-left: 28.5%;
      margin-top: 3.5vh;
      padding: 4px;
  }
  h4 {
      font-family: fantasy;
      font-size:small;
      color: white;
      margin-top: -2vh;
      margin-left: 80vw;
  }
  main {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    padding-right: -12px;
    text-align: justify;
    height: 62vh;
  }
  .container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.perfil {
    display: inline-block;
    width: 52.8vw;
    height: 25vh;
    margin-top: 0;
    position: absolute;
    padding: 16px 16px;
    background-color: lavenderblush;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.perfil:active {
    opacity: 0.5;
}
h2, ol {
    padding-top: 28px;
}
ol, ul {
    margin-left: 20px;
}
#curriculo {
    display: inline-block;
    width: 52.8vw;
    position: relative;
    margin-top: 30vh;
    padding: 16px 16px;
    background-color: lightsalmon;
    font-family: impact;
    font-weight: normal;
}
#projetos {
    display: flex;
    width: 40vw;
    background-color: lavenderblush;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    position: absolute;
    height: 41.4vh;
    margin: -44.6vh 56vw;
    text-align: center;
    font-family: impact;
    font-weight: bold;
}
#galeria {
    padding-top: 1vh;
}
#formulario {
    padding-top: 1vh;
    margin-top: 1vh;
}
form {
    display: block;
    width: 36vw;
    background-color: tomato;
    text-align: left;
    padding: 12px;
    height: 40vh;
    margin-left: 1vw;
    margin-top:1vh;
}
#contato {
    margin-top: 18px;
    width: 4vw;
}
#e-mail {
    margin-top: 18px;
    width: 10.6vw;
}    
#fone {
    margin-top: 18px;
    width: 10vw;
} 
#data {
    margin-top: 18px;
    width: 11.5vw;
}       
button {
    margin-top: 22px;
    margin-left: 6vw;
}
button:hover {
    color: red;
    font-weight: bold;
}
.redes {
    width: 100px;
    margin-right: 60px;
    text-align: center;
    display: inline-block;
    padding: 14px;
    position: absolute;
}
#redes1 {
    text-align: center;
    margin-top: 16px;
}
#git {
    width: 200px;
    margin-left: 75vw;
}
#lnk {
    margin-left: 10vw;
}
#insta {
    margin-left: 45vw;
}
footer {
    height: 12vh;
    background-color: rgb(158, 115, 86);
    display: block;
    width: 96.5%;
    margin-left: 16px;
    margin-right: auto;
    margin-bottom: 0;
    padding: 12px;
    font-family: impact;
    font-weight: bold;
    color: white;
}
footer:active {
    background-color: whitesmoke;
    color:rgb(163, 65, 47);
}
#cursos {
    padding: 12px;
}
#user, #loja {
    width: 80px;
}